   #container {
        margin-top: 15px;
        margin-left:60px;
        margin-right: 60px;
    }
    
    .jumbotron {
        
        position: relative;
        right:1%;
        background-color: #b11b1b;
        color: white;
        text-align: center;
        font-size: 30px;
        font-family: arial;
        
    }
    



    
    .clock {
          
        color:black;
        font-family: serif;
        margin-top:5%;
        padding-left: 6%;
        font-size: 60px;
      
    }

    .panel-heading {
        color:white;
        background-color: #20315a;  
        font:30px;
        color: white;
        padding: 5px;
    }
    
    .panel {
        border: 0.5px solid;
        border-color: #20315a;
        height:500px;
    }
        
    h2 {
        margin-left: 10px;
    }
    
    .second-panel {
        border: 0.5px solid;
        padding:30px;
        border-color: #20315a;
    }
    
    .panel2 {
        margin-top: 20px;
        border: 0.5px solid #20315a ;
        height: 545px;
    }
    

.table td {
padding-top: 5px;    
padding-left: 30px;
font-size: 20px;
line-height: 35px;


}

.table th:nth-child(1) {

padding-left: 2.3%;



}

    
    .final {
        font-size: 25px;
    }


    .extend{

    width: 80%;

    }
    
    .btn {
        position: relative;
        right:600px;
        margin-top: 55px;
        background: #3498db;
        background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
        background-image: -moz-linear-gradient(top, #3498db, #2980b9);
        background-image: -ms-linear-gradient(top, #3498db, #2980b9);
        background-image: -o-linear-gradient(top, #3498db, #2980b9);
        background-image: linear-gradient(to bottom, #3498db, #2980b9);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        border: solid #98d1f5 0px;
        text-decoration: none;
    }
    
    .btn:hover {
        background: #3cb0fd;
        background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
        background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
        background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
        text-decoration: none;
    }


    .table {

    padding-top: 20px;
    padding-left: 30px;


    }

@media all and (max-width: 850px) {


.clock {

    margin-left: 18%;
    position: relative;
    bottom: 4vh;


}

.extend {

    width:200px;
}

}   